<div class="header">
  <mat-toolbar color="primary">
    <span>Acompanhe seu pedido</span>
  </mat-toolbar>
</div>

<mat-list>
  <mat-list-item>
    <strong class="flex-1">Numero do Pedido:</strong>
    <span> {{ ultimoPedido.id }}</span>
  </mat-list-item>

  <mat-list-item>
    <strong class="flex-1">Data e hora do pedido:</strong>
    <span> {{ ultimoPedido.dataHora | date: "dd/MM/yyyy HH:mm" }}</span>
  </mat-list-item>

  <mat-list-item>
    <strong class="flex-1">Situação:</strong>
    <span> {{ ultimoPedido.situacao }}</span>
  </mat-list-item>
</mat-list>
<mat-list>
  <mat-list-item *ngIf="pedidoService.itens.length == 0"
    >Seu pedido está vazio.</mat-list-item
  >
  <ng-container *ngFor="let item of pedidoService.itens">
    <mat-list-item>
      <span class="flex-1">{{ item.produto.descricao }}</span>
      <span
        >{{ item.quantidade }} &times; R$
        {{ item.produto.preco | number: "0.2-2" }}</span
      >
    </mat-list-item>
  </ng-container>
  <mat-list-item>
    <strong class="flex-1">Total</strong>
    <strong>R$ {{ pedidoService.valorTotal | number: "0.2-2" }}</strong>
  </mat-list-item>
</mat-list>

<mat-toolbar>
  <a routerLink="/cardapio" mat-raised-button>Voltar para o cardápio</a>
</mat-toolbar>
